.env
# Ignorar imagenes subidas                                                                         │       
public/imagenes/**/*                                                                               │       
!public/imagenes/**/.gitkeep    